@font-face { font-family: Source Sans PRO Semi-Bold Italic; src: url('SourceSansPro-SemiboldIt.ttf') }

*{
    padding: 0;
    font-family: sans-serif;
}

header {
    text-align: left;
}

body {
    text-align: center;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

ul {
    float:right;
    list-style-type: none;
    margin-top: 25px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    font-family: url('SourceSansPro-SemiboldIt.ttf');
    text-align: center;
    color: white;
}

.credits {
    color: white;
    font-family: sans-serif;
}

nav {
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.logo {
    flex-basis: 20%;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.nav-links {
    flex: 1;
    float: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a {
    color: #ffff;
    text-decoration: none;
    transition: 0.6s;
}

.nav-links ul li a:hover {
    color: #e6e6e6;
}

.reviews {
    right: 10%;
    top: 50%;
    text-align: center;
}

.controls {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.controls h3 {
    margin: 15px 0;
    color: #fff;
}

#upBtn {
    width: 30px;
    cursor: pointer;
}

#downBtn {
    width: 30px;
    cursor: pointer;
    transform: rotate(180deg);
}
